/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"); */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/raleway-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/raleway-v17-latin-regular.woff2") format("woff2"),
    url("./fonts/raleway-v17-latin-regular.woff") format("woff"),
    url("./fonts/raleway-v17-latin-regular.ttf") format("truetype"),
    url("./fonts/raleway-v17-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/raleway-v17-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/raleway-v17-latin-700.eot?#iefix") format("embedded-opentype"),
    url("./fonts/raleway-v17-latin-700.woff2") format("woff2"),
    url("./fonts/raleway-v17-latin-700.woff") format("woff"),
    url("./fonts/raleway-v17-latin-700.ttf") format("truetype"),
    url("./fonts/raleway-v17-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"),
    url("./fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./fonts/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    url("./fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"),
    url("./fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("./fonts/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    url("./fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"),
    url("./fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"),
    url("./fonts/roboto-v20-latin_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("./fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"),
    url("./fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"),
    url("./fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

h4 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

button:focus {
  outline: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-icon,
.team-icon {
  width: 20px;
  height: 20px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
  }
}

.btn-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #2196f3;
  border-style: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #45a5f1;
}

button,
select {
  text-transform: none;
  border-style: none;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h5 {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px;
  text-align: center;
}

@media (min-width: 1200px) {
  h5 {
    text-align: left;
  }
}

.second-header {
  font-style: normal;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.nopadding {
  padding-top: 60px;
}

.logo-navigation,
.logo-footer {
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.logo-navigation {
  color: #212121;
  margin-right: 96px;
}

.logo-navigation__highlighted {
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
}

.logo-footer__highlighted {
  color: #2196f3;
}

.page-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 1px solid #ececec;
  position: relative;
  height: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}

.tablet {
  width: 100%;
}

@media (min-width: 768px) {
  .tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav {
  font-size: 14px;
  line-height: 1.18;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  padding-right: auto;
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid #ececec;
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0;
    border-bottom: 0;
  }
}

.nav-list:not(:last-child) {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .nav-list:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.menu {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 1;
  width: 100vw;
}

@media (min-width: 768px) {
  .menu {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    width: 100vw;
  }
  .menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.nav-link {
  color: #212121;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.contacts-upper {
  padding-top: 60px;
  letter-spacing: 0.02em;
}

.contacts-upper__envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.contacts-upper__smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .contacts-upper {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .contacts-upper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding-right: auto;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  padding-left: auto;
  top: 0;
  right: 0;
}

.menu-button:focus .icon-cross,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.contacts-upper__link {
  color: #757575;
  font-size: 14px;
  line-height: 1.18;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.contacts-upper__link:last-child {
  margin-top: 16px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .contacts-upper__link:last-child {
    margin-top: 10px;
    padding-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .contacts-upper__link:last-child {
    margin-left: 30px;
    margin-top: 0;
  }
}

.contacts-upper__link:hover,
.contacts-upper__link:focus {
  color: #2196f3;
}

.contacts-upper__link:hover .contacts-upper__envelope,
.contacts-upper__link:focus .contacts-upper__envelope,
.contacts-upper__link:hover .contacts-upper__smartphone,
.contacts-upper__link:focus .contacts-upper__smartphone {
  fill: #2196f3;
}

.contacts-upper__envelope,
.contacts-upper__smartphone {
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
  position: relative;
  display: inline;
  text-align: center;
}

.current::after {
  bottom: -8px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
}

@media (min-width: 768px) {
  .current::after {
    bottom: -32px;
  }
}

.navigation {
  padding-top: 60px;
}

@media (min-width: 768px) {
  .navigation {
    padding-top: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  padding: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 93px;
}

@media (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-blocks {
  margin-bottom: 30px;
  position: relative;
}

.form-label {
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #757575;
  position: absolute;
  top: -16px;
  left: 0;
}

.modal-icon {
  fill: #212121;
  position: absolute;
  left: 12px;
  top: 30%;
  display: inline-block;
  height: 100%;
}

.person-icon {
  width: 12px;
  height: 12px;
}

.phone-icon {
  width: 13px;
  height: 13px;
}

.email-icon {
  width: 15px;
  height: 12px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 42px;
}

.comments::-webkit-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.comments:-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.comments::-ms-input-placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.comments::placeholder {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}

.comments {
  width: 100%;
}

.modal-blocks:focus-within > .modal-icon {
  fill: #2196f3;
  -webkit-transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
textarea:focus {
  border: solid 1px #2196f3;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-input:checked ~ .checkbox-box::before {
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-color: #2196f3;
  background-position: center;
  background-repeat: no-repeat;
}

.checked-input:focus ~ .checkbox-box::before {
  -webkit-box-shadow: 0 0 0 2px #2196f3;
  box-shadow: 0 0 0 2px #2196f3;
}

.checked-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7);
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.agreement-bold {
  font-style: normal;
  font-size: 12px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #2196f3;
}

@media (min-width: 1200px) {
  .agreement-bold {
    font-size: 14px;
  }
}

.form-checked {
  text-align: center;
}

.agreement {
  font-size: 12px;
  line-height: 1.7;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #757575;
  position: relative;
  text-align: center;
}

@media (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    text-align: center;
  }
}

.checkbox-box::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 15px;
  -webkit-box-shadow: 0 0 0 2px #212121;
  box-shadow: 0 0 0 2px #212121;
  border-radius: 2px;
  background-color: #ffffff;
  vertical-align: middle;
  display: inline-block;
}

.agreement-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.modal-header {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #212121;
  margin-bottom: 30px;
}

.agreement-text .btn-primary {
  margin-top: 30px;
}

.modal-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-icon {
  fill: currentColor;
  width: 11px;
  height: 11px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-btn:hover .close-icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-icon {
  fill: #ffffff;
}

.footer-address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  width: auto;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-mobile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.footer-social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-contacts {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: block;
  font-style: normal;
  text-decoration: none;
  margin-top: 9px;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: #2196f3;
}

.contacts-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contacts-footer-container {
    margin-right: 165px;
  }
}

@media (min-width: 1200px) {
  .contacts-footer-container {
    text-align: left;
    margin-right: 70px;
  }
}

.footer-social .footer-list:not(:last-child) {
  margin-right: 10px;
}

.footer-follow {
  margin-top: 60px;
}

.footer-follow-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-follow-link:hover {
  background-color: #2196f3;
}

.footer-follow-link:hover.icon {
  fill: #ffffff;
}

@media (min-width: 768px) {
  .footer-follow {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 92vw;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  color: #ffffff;
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .subscribe-input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}

.subscribe-container {
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .subscribe-container {
    margin-top: 0;
    margin-left: 93px;
  }
}

.subscribe-form .btn-primary {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .subscribe-form .btn-primary {
    margin-left: 12px;
  }
}

.subscribe-form .btn-primary::after {
  display: inline-block;
  background-image: url(../images/send.svg);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24px;
  height: 24px;
  content: "";
  margin-left: 10px;
}

@media (min-width: 1200px) {
  .subscribe-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #2f303a;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#2f303a66),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/mobile/Header_img.webp), url(../images/mobile/Header_img.jpg);
  background-image: linear-gradient(#2f303a66, rgba(47, 48, 58, 0.4)),
    url(../images/mobile/Header_img.webp), url(../images/mobile/Header_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  max-width: 100%;
  height: 400px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#2f303a66),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(..images/mobile/Header_img@2x),
      url(../images/mobile/Header_img@2x.jpg);
    background-image: linear-gradient(#2f303a66, rgba(47, 48, 58, 0.4)),
      url(..images/mobile/Header_img@2x),
      url(../images/mobile/Header_img@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#2f303a66),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/tablet/Header_img.webp),
      url(../images/tablet/Header_img.jpg);
    background-image: linear-gradient(#2f303a66, rgba(47, 48, 58, 0.4)),
      url(../images/tablet/Header_img.webp),
      url(../images/tablet/Header_img.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#2f303a66),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/tablet/Header_img@2x.webp),
      url(../images/tablet/Header_img@2x.jpg);
    background-image: linear-gradient(#2f303a66, rgba(47, 48, 58, 0.4)),
      url(../images/tablet/Header_img@2x.webp),
      url(../images/tablet/Header_img@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#2f303a66),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/desktop/bcg.webp), url(../images/desktop/bcg.jpg);
    background-image: linear-gradient(#2f303a66, rgba(47, 48, 58, 0.4)),
      url(../images/desktop/bcg.webp), url(../images/desktop/bcg.jpg);
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#2f303a66),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/desktop/bcg_2x.webp), url(../images/desktop/bcg@2x.jpg);
    background-image: linear-gradient(#2f303a66, rgba(47, 48, 58, 0.4)),
      url(../images/desktop/bcg_2x.webp), url(../images/desktop/bcg@2x.jpg);
  }
}

.hero-header {
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 1200px) {
  .hero-header {
    font-size: 44px;
  }
}

.partners {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: -30px;
}

.mobile-partners {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .mobile-partners {
    margin-bottom: -30px;
  }
}

@media (min-width: 1200px) {
  .mobile-partners {
    margin-bottom: 60px;
  }
}

.logo-one {
  width: 44px;
  height: 49px;
  fill: currentColor;
}

.logo-two {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.logo-three {
  width: 41px;
  height: 43px;
  fill: currentColor;
}

.logo-four {
  width: 80px;
  height: 42px;
  fill: currentColor;
}

.logo-five {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.logo-six {
  width: 88px;
  height: 45px;
  fill: currentColor;
}

.partner-list {
  width: calc((100% - 30px) / 2);
  height: 90px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .partner-list {
    width: calc((100% - 30px * 2) / 3);
  }
}

@media (min-width: 1200px) {
  .partner-list {
    width: calc((100% - 30px * 5) / 6);
    margin-bottom: 0;
  }
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link svg {
  -webkit-transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-link:hover svg {
  cursor: pointer;
  fill: #2196f3;
}

.logo-link:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.team-icon {
  fill: #afb1b8;
}

.social {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 122px;
  padding-left: 122px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #2196f3;
}

.social-link:hover .team-icon {
  fill: #ffffff;
}

.list-cards {
  width: 100%;
}

@media (min-width: 768px) {
  .list-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.team-names {
  color: #212121;
  font-size: 16px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

@media (min-width: 768px) {
  .team-card {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .team-card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .team-card {
    width: calc((100% - 30px * 3) / 4);
    margin-bottom: 0;
  }
  .team-card:nth-child(odd) {
    margin-right: 0;
  }
  .team-card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-pic {
  width: 100%;
  display: block;
  padding-left: auto;
  padding-right: auto;
}

.team-back {
  background: #f5f4fa;
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .team-back {
    margin-top: 90px;
  }
}

.team-description {
  color: #757575;
  display: inline-block;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.1;
}

.social-list .social-link,
.social-list .follow-link {
  width: 44px;
  height: 44px;
}

.planing::before {
  background-image: url(../images/diagram.svg);
}

.cosmo::before {
  background-image: url(../images/astronaut.svg);
}

.trait-list::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  background-size: 70px;
}

@media (min-width: 768px) {
  .trait-list {
    width: calc((100% - 30px) / 2);
  }
  .trait-list:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .trait-list {
    width: calc((100% - 30px * 3) / 4);
  }
  .trait-list:nth-child(2n) {
    margin-left: 0px;
  }
  .trait-list:not(:last-child) {
    margin-right: 30px;
  }
}

.anthena::before {
  background-image: url(../images/Anthena.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.traits-header {
  color: #212121;
  font-size: 14px;
  line-height: 1.18;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.traits-desription {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.traits {
  width: 100%;
  display: inline-block;
  height: auto;
}

@media (min-width: 768px) {
  .tablet-traits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1999px) {
  .whatwedo {
    display: none;
  }
}

@media (min-width: 1200px) {
  .whatwedo {
    display: block;
  }
}

.wedo {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.wedo li:nth-child(-n + 2) {
  margin-right: 30px;
}

.overlay {
  position: relative;
}

.overlay-text {
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  padding-top: 27px;
  left: 0;
  bottom: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.container .list-cards,
.container .partners-list,
.container .wedo {
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */
