.planing::before {
    background-image: url(../images/diagram.svg);
  }
  
  .cosmo::before {
    background-image: url(../images/astronaut.svg);
  }
  
.trait-list::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $secondary-background-color;
  background-size: 70px;
}
  
.trait-list {
  @include for-size(tablet) {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n) {
      margin-left: 30px;
  }
}
  @include for-size(desktop) {
    width: calc((100% - 30px * 3) / 4);
    
    &:nth-child(2n) {
      margin-left: 0px;
  }
    &:not(:last-child) {
      margin-right: 30px;
    }

  }
}


.anthena::before {
  background-image: url(../images/Anthena.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.traits-header {
  color: $title-text-color;
  @include font(14px, 1.18, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.traits-desription {
  color: $primarily-text-color;
  @include font(14px, 1.7);
  letter-spacing: 0.03em;
}

.traits {
  width: 100%;
  display: inline-block;
  height: auto;  
}

.tablet-traits {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}