$title-text-color: #212121;
$primarily-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$secondary-background-color: #F5F4FA;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$footer-color: #2F303A;

